* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("https://media1.tenor.com/images/43b57a285515a1069156eae1bb90184f/tenor.gif?itemid=11630437") no-repeat bottom left;
  background-attachment: fixed;
  background-color: #ccc;
}

.container {
  max-width: 1170px;
  margin: auto;
  margin-left: 17%;
  text-align: center;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
}


h3 {
  width: fit-content;
  padding: 5px;
  border: 1px solid black;
  background: #fff;
}


.wrap-paragraphs {
  position: fixed;
  top: 20%;
  left: 0;
}

.paragraphs {
  list-style: none;
}

.wrap-books {
  margin-left: 120px;
}

.paragraphs li {
  margin-bottom: 20px;
}

.paragraphs li ul {
  list-style: none;
}

.paragraphs a {
  color: #000;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.green {
  color: green;
}

.red {
  color: red;
}

.purple {
  color: purple;
}

.orange {
  color: orange
}

.blue {
  color: blue;
}